
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container-{
    width: 80%;
    margin: auto;
}

.menu-help{  
    background-color: #D5E2F6;
    padding: 10px;
}

.menu-help p{
    font-size: 1em;
    text-decoration: underline;
    margin: auto 0;
}
.menu-help p a{
    color: #524F4F;
}
.menu-help h2{
    font-size: 1.4em;
    text-decoration: underline;
    margin: auto 0;
}

input::placeholder{
    color: #b9b9b9;
}